<div class="container">
    <div class="panel panel-default">
        <p>Username: <input type="text" size="20" ng-model="$ctrl.credentials.username"></input>
        </p>
        <p>Password: <input type="text" size="20" ng-model="$ctrl.credentials.password"></input>
        </p>
        <div class="logInButtons">
            <button class="btn signButton" ng-click="$ctrl.userLogin()">Let's Tweet!</button>
            <button class="btn signButton" ng-click="$ctrl.signUpPage()">Sign Up</button>
            <button class="btn signButton" ng-click="$ctrl.reactivateAccountPage()">Reactivate Account</button>

            <p ng-if=$ctrl.failedSignIn>User not found</p>
        </div>
    </div>
</div>
