<div>
    <p><span class="settingsPageText">Username:</span><input type="text" size="20" ng-model="$ctrl.newUser.credentials.username"></input>
    </p>
    <p><span class="settingsPageText">Password:</span><input type="text" size="20" ng-model="$ctrl.newUser.credentials.password"></input>
    </p>
    <p><span class="settingsPageText">Email:</span><input type="text" size="20" ng-model="$ctrl.newUser.profile.email"></input>
    </p>
    <p><span class="settingsPageText">First Name:</span><input type="text" size="20" ng-model="$ctrl.newUser.profile.firstName"></input>
    </p>
    <p><span class="settingsPageText">Last Name:</span><input type="text" size="20" ng-model="$ctrl.newUser.profile.lastName"></input>
    </p>
    <p><span class="settingsPageText">Phone Number:</span><input type="text" size="20" ng-model="$ctrl.newUser.profile.phone"></input>
    </p>
    <button class= "btn btn-primary settingsUpdateButton" type="button" ng-click="$ctrl.createUser()">Sign Up</button>
    <p ng-if=$ctrl.usernameTaken>Username Taken</p>
    <p ng-if=$ctrl.emailLeftBlank>Email Required</p>
    <p ng-if=$ctrl.accountCreationFailed>Failed To Create Account</p>
</div>