<div>
    <p>Username: <input type="text" size="20" ng-model="$ctrl.newUser.credentials.username"></input>
    </p>
    <p>Password: <input type="text" size="20" ng-model="$ctrl.newUser.credentials.password"></input>
    </p>
    <p>Email: <input type="text" size="20" ng-model="$ctrl.newUser.profile.email"></input>
    </p>
    <p>First Name: <input type="text" size="20" ng-model="$ctrl.newUser.profile.firstName"></input>
    </p>
    <p>Last Name: <input type="text" size="20" ng-model="$ctrl.newUser.profile.lastName"></input>
    </p>
    <p>Phone Number: <input type="text" size="20" ng-model="$ctrl.newUser.profile.phone"></input>
    </p>
    <button type="button" ng-click="$ctrl.createUser()">Log-in</button>
    <p ng-if=$ctrl.failedSignIn>User not found</p>
</div>