<div>
    <h1> Validate </h1>
    <p>
        Find a hashtag: <input type="text" ng-model="$ctrl.label"></input>
        <labal ng-click="$ctrl.getValidateTag()" value="click">tag</labal>
    </p>
    <p>
        See if a Username is taken: <input type="text" ng-model="$ctrl.username"></input>
        <label ng-click="$ctrl.getAvailableUsername()">click me</label>
    </p>
    <p>
        See if a user exists: <input type="text" ng-model="$ctrl.usernameExists"></input>
        <label ng-click="$ctrl.getExistUsername()">click me</label>
    </p>
</div>