<!-- NAVIGATION -->
<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <div class="navbar-brand"><a ui-sref="signIn"><em>Tweet App</em></a></div>
    </div>
    <ul class="nav navbar-nav">
        <li>
            <div class="dropdown">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                    Profile
                <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a ng-click="$ctrl.homePage()">My Page</a></li>
                    <li><a ng-click="$ctrl.settings()">Settings</a></li>
                    <li><a ng-click="$ctrl.globalService.logout()">Logout</a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="navbar-brand"><a ui-sref="allTweets">All Tweets</a></div>
        </li>
        <li>
            <div class="navbar-brand"><a ui-sref="allHashtags">All Hashtags</a></div>
        </li>
        <li>
            <div class="navbar-brand"><a ui-sref="allUsers">All Users</a></div>
        </li>

        
        <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="$ctrl.userSearch"></input>
                <div class="input-group-btn">
                    <button ng-click="$ctrl.search()" class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
            </form>
            </div>
    </ul>
</nav>