<div class="panel panel-primary">
    <div class="panel-header">
        <p ng-if="$ctrl.repostTweet === true">{{ $ctrl.tweet.reposter.profile.firstName }} {{ $ctrl.tweet.reposter.profile.lastName }} reposted:</p>
        <p ng-if="$ctrl.replyTweet === true">@{{ $ctrl.tweet.repliedTo.profile.firstName }} {{ $ctrl.tweet.repliedTo.profile.lastName }}</p>
    </div>
    <div class="panel-body">
        <p>{{ $ctrl.tweet.author.profile.firstName }} {{ $ctrl.tweet.author.profile.lastName }}</p>
        <dir id="dir" content="$ctrl.tweet.content | createAnchors"></dir>
        <p>
            <button type="button" class="btn btn-default" ng-click="$ctrl.likeTweet(tweet.id)">
                Like <span class="glyphicon glyphicon-thumbs-up"></span>
            </button>
            {{ $ctrl.tweet.posted | date:"MM/dd/yyyy 'at' h:mma" }}
            <button type="button" class="btn btn-default" ng-click="$ctrl.getDirectReplies()">Replies</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.getDirectReposts()">Reposts</button>
            <button type="button" class="btn btn-default" ng-click="$ctrl.getUsersWhoLiked()">
                <span class="glyphicon glyphicon-user"></span> Users Who Liked
            </button>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.createReply()">Reply</button>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.createRepost()">Repost</button>
        </p>
        <div ng-show="$ctrl.isReplying === true">
            <input type="text" size="20" ng-model="$ctrl.content"></input>
            <button type="button" class="btn btn-primary" ng-click="$ctrl.createActualReply()">Post Tweet</button>
        </div>
    </div>
</div>