<div>
    <p>Username: <input type="text" size="20" ng-model="$ctrl.username"></input>
    </p>
    <p>Password: <input type="text" size="20" ng-model="$ctrl.password"></input>
    </p>
    <p>Email: <input type="text" size="20" ng-model="$ctrl.email"></input>
    </p>
    <p>First Name: <input type="text" size="20" ng-model="$ctrl.firstName"></input>
    </p>
    <p>Last Name: <input type="text" size="20" ng-model="$ctrl.lastName"></input>
    </p>
    <p>Phone Number: <input type="text" size="20" ng-model="$ctrl.phone"></input>
    </p>
</div>