<div>
    <p>Email: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.email"></input>
    </p>
    <p>First Name: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.firstName"></input>
    </p>
    <p>Last Name: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.lastName"></input>
    </p>
    <p>Phone Number: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.phone"></input>
    </p>
    <button type="button" ng-click="$ctrl.updateProfile()">Update Profile</button>
    <button type="button" ng-click="$ctrl.deactivateProfile()">Deactivate Profile</button>
</div>