<div class="settingsPage">
    <p><span class="settingsPageText">Email:</span><input type="text" size="20" ng-model="$ctrl.updatedUser.profile.email"></input>
    </p>
    <p><span class="settingsPageText">First Name:</span><input type="text" size="20" ng-model="$ctrl.updatedUser.profile.firstName"></input>
    </p>
    <p><span class="settingsPageText">Last Name:</span><input type="text" size="20" ng-model="$ctrl.updatedUser.profile.lastName"></input>
    </p>
    <p><span class="settingsPageText">Phone Number:</span><input type="text" size="20" ng-model="$ctrl.updatedUser.profile.phone"></input>
    </p>
    <button class= "btn btn-primary settingsUpdateButton" type="button" ng-click="$ctrl.updateProfile()">Update Profile</button>
    <button class= "btn btn-danger" type="button" ng-confirm-click="Are you sure you want to deactiveate your account?" confirmed-click="$ctrl.deactivateProfile()">Deactivate Account</button>
</div>