<div>
    <navbar-component></navbar-component>
</div>
<div>
    <p>Email: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.email"></input>
    </p>
    <p>First Name: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.firstName"></input>
    </p>
    <p>Last Name: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.lastName"></input>
    </p>
    <p>Phone Number: <input type="text" size="20" ng-model="$ctrl.updatedUser.profile.phone"></input>
    </p>
    <label ng-click="$ctrl.updateProfile()">Update Profile</label>
    <label ng-click="$ctrl.deactivateProfile()">Deactivate Profile</label>
</div>