<div class="container">
    <div class="panel panel-default">
        <!-- <div class="logIn"> -->
        <p>Username: <input type="text" size="20" ng-model="$ctrl.reactivatedUser.credentials.username"></input>
        </p>
        <p>Password: <input type="text" size="20" ng-model="$ctrl.reactivatedUser.credentials.password"></input>
        </p>
        <div class="logInButtons">
            <button class="btn signButton" ng-click="$ctrl.returnToLogin()">Return to Sign In</button>
            <button class="btn signButton" ng-click="$ctrl.reactivate()">Reactivate</button>

            <p ng-if=$ctrl.userAlreadyActive>That User Is Already Active</p>
            <p ng-if=$ctrl.userNotFound>User not found</p>
        </div>
        <!-- </div> -->
    </div>
</div>